
/*
-----------------------------
全局
-----------------------------
*/

:root {
  --background: #f1f1f1;
  --center-background: #c5c6c7;
  --header: #990000;
  --header-text: #ffcc00;
  --text: #2d283e;
  --a-color: #1772d0;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
}

a, button {
  text-decoration: none;
  color: var(--text);
}

li {
  list-style: none;
}

p {
  line-height: 1.25em;
  text-align: justify;
  text-justify: inter-word;
  /* word-break: break-all; */
}

textarea {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/*
-----------------------------
主体
-----------------------------
*/

body {
  margin: 0 auto;
  background-color: var(--background);
  color: var(--text);
}

.main {
  width: 1100px;
  margin: 0 auto;
  background-color: var(--center-background);
}

.main a, .main a:visited {
  color: var(--a-color);
}

.w {
  padding: 0 50px;
}


/*
-----------------------------
侧边栏
-----------------------------
*/

.sb-icon {
  position: fixed;
  top: 600px;
  right: 20px;
  width: 45px;
}

.sb-icon li {
  display: block;
  margin: 0 0 5px 0;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  background: transparent;
  border: none;
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px; 
}

.sb-icon li:hover {
  cursor: pointer;
}

.sb-content {
  position: fixed;
  top: 600px;
  right: 70px;
  height: 45px;
  width: 100px;
  text-align: right;
}

.sb-content li {
  display: block;
  visibility: hidden;
  margin: 0 0 5px 0;
  height: 45px;
  width: 100px;
  font-size: 15px;
  line-height: 45px;
}


/*
-----------------------------
弹窗
-----------------------------
*/

.dialog {
  display: none;
  position: fixed;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  background: var(--background);
  z-index: 2;
  text-align: center;
}

.close {
  position: absolute;
  right: 0;
  margin: 10px 10px 0 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.close:hover {
  cursor: pointer;
}

.dialog-content {
  width: 400px;
  height: 250px;
  margin: auto 0;
  line-height: 250px;
}

#comment-box {
  width: 600px;
  height: 400px;
}

#comment-box div:nth-child(2) {
  height: 1em;
  margin: 30px 0 20px 25px;
  line-height: 1em;
  text-align: left;
}

#comment-box textarea {
  display: block;
  width: 550px;
  height: 250px;
  margin: 0 auto;
}

#comment-box button {
  display: block;
  float: right;
  width: 85px;
  height: 1.5em;
  margin: 15px 25px 0 0;
}

#mobile-warning .type {
  margin: 50px 0 20px 0;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
}

.warning-content {
  margin: 0 20px;
  text-align: justify;
  text-justify: inter-word;
}


/*
-----------------------------
标题及照片
-----------------------------
*/

.header {
  padding-top: 30px;
}

.title {
  float: left;
}

.name {
  margin-bottom: 25px;
}

.name div {
  float: left;
  font-size: 2.5em;
  font-weight: bold;
}

.name .english {
  font-family: "Poppins", sans-serif;
}

.name .chinese {
  margin: 0 0 0 30px;
  font-weight: normal;
}

.title h2 {
  display: block;
}

.top-right {
  position: relative;
  float: right;
  width: 125px;
  height: 200px;
  margin: 10px 0 0 0;
}

.picture {
  display: block;
  width: 125px;
  height: 175px;
  margin: 10px 0 0 0;
  background: url(./images/my_pic.jpg) no-repeat;
  background-size: contain;
}

.social-bar {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -70px;
  padding: 10px 0 10px 0;
  width: 140px;
  height: 30px;
}

.social-bar > a {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin: 5px;
  line-height: 25px;
  text-align: center;
}


/*
-----------------------------
导航栏
-----------------------------
*/

.nav {
  position: sticky;
  top: 0;
  margin: 50px 0;
  background-color: var(--header);
}

.nav div {
  float: left;
  padding: 0.65em 30px;
  height: 30px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: var(--header-text);
  transition: 0.2s;
}

.nav div:hover {
  cursor: pointer;
  color: var(--header);
  background-color: var(--header-text);
}

.nav div:nth-child(1) {
  margin: 0 0 0 100px;
}


/*
-----------------------------
主要内容列表
-----------------------------
*/

.main-item {
  margin-top: 30px;
  padding: 0 50px;
}

.main-item > h1 {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  color: var(--header);
}

.subproj {
  float: left;
  width: 450px;
  height: 278px;
  border: 1px solid #e5e9ef;
  border-radius: 10px;
}

.subproj:nth-of-type(even) {
  float: right;
}

.projName {
  width: 450px;
  height: 125px;
  line-height: 125px;
  text-align: center;
  border-radius: 10px;
}

.projName a {
  font-size: 1.2em;
}

.projDesc {
  padding: 20px;
}


/*
-----------------------------
通用列表
-----------------------------
*/

.list li {
  display: block;
  margin: 10px 0;
  border-radius: 10px;
  transition: 0.2s;
}

.list-header {
  position: relative;
  height: 35px;
  line-height: 35px;
}

.list-header:hover {
  cursor: pointer;
}

.list-arrow {
  float: left;
  height: 35px;
  width: 25px;
  line-height: 35px;
  text-align: center;
}

.list-header div:nth-child(2) {
  float: left;
  margin: 0 0 0 20px;
  font-size: 1.15em;
  font-weight: normal;
}

.list-header div:nth-child(2) a {
  font-size: 1em;
}

.list-content {
  display: none;
  margin: 0 0 0 45px;
  padding: 10px 10px 10px 0;
}

.list-content b {
  font-weight: bold;
}

#resume a {
  display: block;
  width: 950px;
  color: var(--text);
}


/*
-----------------------------
分割线
-----------------------------
*/

.cutline {
  width: 1000px;
  margin: 50px auto 0;
  border-top: 2px solid var(--background);
}


/*
-----------------------------
页脚
-----------------------------
*/

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer div {
  float: left;
  height: 70px;
  width: 333px;
}

.footer div:nth-of-type(1) a {
  display: block;
  height: 70px;
  width: 250px;
  margin: auto;
  background: url(./images/usc.png) no-repeat center;
  background-size: auto 80px;
}

.footer div:nth-of-type(2) a {
  display: block;
  height: 70px;
  width: 280px;
  margin: auto;
  background: url(./images/purdue.png) no-repeat center;
  background-size: auto 50px;
}

.footer div:nth-of-type(3) a {
  display: block;
  height: 70px;
  width: 250px;
  margin: auto;
  background: url(./images/cau.png) no-repeat center;
  background-size: auto 90px;
}

.credit {
  height: 40px;
  margin: 25px 0 0 0;
  font-size: 16px;
  text-align: center;
}
